.Side
  .Side__header
    .Side__header--box
      .Side__header--box_name
        = current_user.name
      .Side__header--box_logo
        =link_to new_group_path(current_user),class:"Side__header--box_logo-btn Side__header--box_logo-btn_edit"do
          =icon('far', 'edit')
        =link_to edit_user_path(current_user),class:"Side__header--box_logo-btn Side__header--box_logo-btn_cog "do
          =icon('fas', 'cog')
  .Side__group
    .Side__group__list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .groupname
            = group.name
          .latest-message 
            = group.show_last_message
    