.Side
  .Side__header
    .Side__header--box
      .Side__header--box_name
        yuki
      .Side__header--box_logo
        =link_to "#",class:"Side__header--box_logo-btn Side__header--box_logo-btn_edit"do
          =icon('far', 'edit')
        =link_to "#",class:"Side__header--box_logo-btn Side__header--box_logo-btn_cog "do
          =icon('fas', 'cog')
  .Side__group
    .Side__group__list
      .groupname
        tesut
      .latest-message 
        mada
    .Side__group__list
      .groupname
      .latest-message