*{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.Side{
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  font-weight: bold;
  color: white;
    &__header{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #253141;
      &--box{
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        width: 260px;
        height: 20px;
          &_name{
            font-size: 16px;
          }
          &_logo{
            width: 60px;
              &-btn{
                text-decoration: none;
                color: #ffffff;
                &_cog{
                  margin-left: 5px;
                }

              }
          }
      }
    }
    &__group{
      &__list{
        height: 65px;
        padding: 20px 20px 40px 20px;
        .groupname{
          font-size: 15px;
          margin-bottom: 6px;
        }
        .latest_message{
          font-size: 11px;
        }
      }
    }
  }


.Main{
  display: flex;
  flex-direction: column;  
  width: calc(100vw - 300px);
    &__header{
      border-bottom: 1px solid #eeeeee;
      height: 100px;
      background-color: #ffffff;
    }
    &__main{
      height: calc(100vh - 190px);
      background-color: #fafafa;
    }
    &__footer{
      height: 90px;
      background-color: #d2d2d2;
    }

}